* {
  padding: 0%;
  margin: 0px;
}
main {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(226, 108, 147);
  background-image: url(background.png);
}
.container {
  display: flex;
  padding: 5px;
  margin: 10px;
  width: 80%;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  align-items: center;
}
.container1 {
  width: 50%;
  padding: 10px;
}
h2 {
  color: white;
}
p {
  color: white;
  font-size: 12px;
}
.items-all {
  flex-direction: column;
}
.container {
  padding: 25px;
  border-radius: 5px;
  flex-direction: block;
}
.h5 {
  background-color: rgb(114, 91, 197);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 82%;
}
form {
  background-color: white;
  width: 80%;
  flex-direction: block;
  padding: 20px;
}
.content-container input {
  width: 80%;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
}

.content-container input {
  border: thin solid line #fff;
  border-radius: 5px;
}

button {
  background-color: hsl(154, 59%, 51%);
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
  border: thin solid;
  border-radius: 5px;
}
span {
  color: red;
}
footer{
  font-size: 10px;
}
@media screen and (max-width: 375px) {
  .container {
    float: left;
    display: block;
  }
}
